@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, #f7c2ca, #f6a5c0, #cc8db3, #9d85b6, #837ab6, #250e2c );
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}


.nav-container{
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}

.logo span{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #f7c2ca;
}

.hamburg, .cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none;
}

.nav-container .links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #250e2c;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .contact-btn{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid #250e2c;
    transition: 0.2s linear;
}

.nav-container .contact-btn a{
    color: white;
    transition: 0.3s linear;
}

.nav-container .contact-btn:hover, .nav-container .contact-btn:hover a{
    background-color: #250e2c;
    color: white;
}

.nav-container .links a:hover{
    color: #250e2c;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: #250e2c;
}


.contact {
    margin-left: 19%;
    background: #9d85b6;
    border:2px solid #250e2c;
    border-radius: 20px;
    box-shadow: 0, 4, 6, rgba(0, 0, 0, 0.1);
    padding:30px;
    width: 850px;
    text-align: center;
    margin-top: 5%;
}

h4 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 1%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

input, textarea {
    background-color: #250e2c;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 12px;
    width: 48%;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    height: 150px;
    width: 100%;
    resize: none;
}

.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
}

button {
    width: 40%;
    height: 6vh;
    background-color: #250e2c;
    color: white;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
    margin: 0; 
}


 button:hover{
 scale: 1.1;
 color: #250e2c;
 border: 2px solid #250e2c;
 background-color: transparent;
 font-weight: 700;
 box-shadow: 0 0 40px #250e2c;
}

@media (max-width:1024px) {
    body{
        overflow-y: visible;
    }

    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container{
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,.cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .cancel{
        color: white;
    }
}